<!-- Footer -->
<footer style="margin-top: 120px;" class="bg-dark text-white py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h5>Sobre Nosotros</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet consectetur dolor in elementum.</p>
          </div>
          <div class="col-md-4">
              <h5>Enlaces Rápidos</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-white">Inicio</a></li>
                  <li><a href="#" class="text-white">Productos</a></li>
                  <li><a href="#" class="text-white">Ofertas</a></li>
                  <li><a href="#" class="text-white">Contacto</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h5>Síguenos</h5>
              <a href="https://www.facebook.com" class="text-white mr-2">
                  <i class="fab fa-facebook-f"></i> Facebook
              </a>
              <br>
              <a href="https://www.instagram.com" class="text-white mr-2">
                  <i class="fab fa-instagram"></i> Instagram
              </a>
              <br>
              <a href="https://www.twitter.com" class="text-white">
                  <i class="fab fa-twitter"></i> Twitter
              </a>
          </div>
      </div>
      <div class="row mt-4">
          <div class="col text-center">
              <p>&copy; 2024 CONSTRU_MIC. Todos los derechos reservados.</p>
          </div>
      </div>
  </div>
</footer>
<!-- Fin del footer -->

<!-- Añadir FontAwesome para los íconos -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
