<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">CONSTRU_MIC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'inicio_page' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_productos' %}">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{% url 'ofertas_page' %}">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contacto_page' %}">Contacto</a>
                </li>
            </ul>
            <form class="d-flex ms-auto mr-3" action="{% url 'buscar_productos' %}" method="get">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" name="q">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cerrar_sesion_page' %}">Cerrar sesión</a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'iniciar_sesion_page' %}">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registrarse_page' %}">Registrarse</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
