<!DOCTYPE html>
<html>
<head>
    <title>Historial de Compras</title>
</head>
<body>
    <h1>Historial de Compras</h1>
    <ul>
        {% for pedido in pedidos %}
        <li>
            Pedido {{ pedido.id }} - Usuario: {{ pedido.usuario.email }} - Fecha: {{ pedido.fecha }} - Total: ${{ pedido.total }}
            <ul>
                {% for item in pedido.pedidoproducto_set.all %}
                <li>{{ item.cantidad }} x {{ item.producto.nombre }} - ${{ item.precio }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'admin_agregar_producto' %}">Agregar Producto</a>
</body>
</html>
