{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Compra Exitosa{% endblock %}

{% block header_page %}
<div class="container mt-4 text-center">
    <h1>¡Compra Exitosa!</h1>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    
    <p>Gracias por tu compra. Tu número de pedido es <strong>{{ pedido.id }}</strong>.</p>
    <img src="{% static 'img/thumbs_up.jpeg' %}" alt="Compra Exitosa" class="img-fluid my-4" style="max-width: 300px;">
    <div class="mt-4">
        <a href="{% url 'lista_productos' %}" class="btn btn-primary">Volver a la lista de productos</a>
    </div>
</div>
{% endblock %}

<style>
    .container {
        max-width: 800px;
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>
