{% extends 'base/base.html' %}
{% load static %}

{% block title %}CONSTRU_MIC{% endblock %}

{% block header_page %} 
<div class="container mt-4">
    <h1>Contacto</h1>
    <div style="display: flex; align-items: center; margin-bottom: 30px;">
        <img src="{% static 'img/image_example.png' %}" alt="" style="width: 100px; height: auto; margin-right: 20px;">
        <p>¿Necesitas contactarnos? Aquí encontrarás todos nuestros métodos de contacto.</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="card">
        <div class="card-body">
            <form method="post" action="{% url 'contacto_page' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nameInput">Nombre y apellidos</label>
                    <input type="text" class="form-control" id="nameInput" name="nombres" placeholder="Nombre y apellidos" required>
                </div>
                <div class="form-group">
                    <label for="EmailInput">Correo electrónico</label>
                    <input type="email" class="form-control" id="EmailInput" name="correo" placeholder="Ingrese su correo electrónico" required>
                </div>
                <div class="form-group">
                    <label for="MensajeInput">Mensaje</label>
                    <textarea class="form-control" id="MensajeInput" name="mensaje" rows="4" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar mensaje</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
