{% extends 'base/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}Contacto CONSTRU_MIC{% endblock %}

{% block header_page %} 
<div class="container mt-4">
    <h1>Contacto</h1>
    <div style="display: flex; align-items: center; margin-bottom: 30px;">
        <img class="logo" src="{% static 'img/logo_construmic.png' %}" alt="">
        <h5>¿Necesitas contactarnos? Puedes escribirnos un mensaje por aquí.</h5>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Contacto</div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                        
                            <div class="form-group{% if form.nombre.errors %} has-error{% endif %}">
                                <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                                {% render_field form.nombre class+="form-control" oninput="this.value = this.value.toLowerCase()"%}
                                {% for error in form.nombre.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        
                            <div class="form-group{% if form.apellido.errors %} has-error{% endif %}">
                                <label for="{{ form.nombre.id_for_label }}">Apellidos:</label>
                                {% render_field form.apellidos class+="form-control" oninput="this.value = this.value.toLowerCase()"%}
                                {% for error in form.apellidos.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        
                            <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                                <label for="{{ form.email.id_for_label }}">Email:</label>
                                {% render_field form.email class+="form-control"%}
                                {% for error in form.email.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                        
                            <div class="form-group{% if form.apellido.errors %} has-error{% endif %}">
                                <label for="{{ form.nombre.id_for_label }}">Mensaje:</label>
                                {% render_field form.mensaje class+="form-control"%}
                                {% for error in form.mensaje.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Enviar mensaje</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

{% if messages %}
<div  class="alert alert-success" style="margin-top: 30px;">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% endblock %}

