{% extends 'base/base.html' %}
{% load static %}

{% block title %}CONSTRU_MIC{% endblock %}

{% block header_page %} 

<div class="container mt-4">
    <h1>Ofertas</h1>
    <div style="display: flex; align-items: center;">
        <img src="{% static 'img/image_example.png' %}" alt="" style="width: 100px; height: auto; margin-right: 20px;">
        <p>Aquí estarán todas las ofertas de productos cuando esté disponible.</p>
    </div>
</div>

{% endblock %}



{% block content %}

<div class="container">

    <img src="{% static 'img/club-penguin-mop.gif' %}" alt="">
    <h1>There's no offerts! Come back soon!</h1>

</div>

{% endblock %}