{% extends 'base/base.html' %}
{% load static %}

{% block title %}Lista de productos{% endblock %}

{% block header_page %} 

<div class="container mt-4">
    <h1>Productos</h1>
    <div style="display: flex; align-items: center;">
      <img class="logo" src="{% static 'img/logo_construmic.png' %}" alt="">
        <p>¿Buscas algo para tu hogar? ¡Seguramente aquí lo encontrarás!</p>
    </div>
</div>

{% endblock %}


{% block content %}


<div class="row">

    {% for producto in productos %}
    <div class="card" style="width: 18rem;">
        
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">

        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">${{ producto.precio }}</p>
          <p class="card-text">Categoria: {{ producto.categoria }}</p>
          <p class="card-text">Dimensiones: {{ producto.alto }} x {{ producto.largo }} x {{ producto.ancho }} cm</p>
          <p class="card-text">Peso: {{ producto.peso }}kg</p>
          <p class="card-text">Descripcion: {{ producto.descripcion }}</p>
          <p class="card-text">Estado del producto: {{ producto.get_estado_display }}</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

    {% endfor %}

</div>


{% endblock %}
