<!DOCTYPE html>
<html>
<head>
    <title>Carrito de Compras</title>
</head>
<body>
    <h1>Carrito de Compras</h1>
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul>
        {% for item in productos_en_carrito %}
        <li>
            {{ item.producto.nombre }} - {{ item.cantidad }} - ${{ item.producto.precio }}
            <form action="{% url 'cambiar_cantidad_producto' item.producto.id 'incrementar' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">+</button>
            </form>
            <form action="{% url 'cambiar_cantidad_producto' item.producto.id 'decrementar' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">-</button>
            </form>
            <form action="{% url 'eliminar_del_carrito' item.producto.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Eliminar</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <p>Total: ${{ total }}</p>
    <form action="{% url 'comprar' %}" method="post">
        {% csrf_token %}
        <button type="submit">Comprar</button>
    </form>
</body>
</html>
