{% extends 'base/admin_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Panel Administrativo{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-12 text-center">
            <h1>Panel Administrativo</h1>
            <p class="lead">Bienvenido al panel administrativo. Aquí puedes gestionar productos y ver el historial de compras.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Historial de Compras</h5>
                    <p class="card-text">Revisa el historial de compras de los usuarios.</p>
                    <a href="{% url 'admin_historial_compras' %}" class="btn btn-primary">Ver Historial</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Agregar Producto</h5>
                    <p class="card-text">Añade nuevos productos al catálogo.</p>
                    <a href="{% url 'admin_agregar_producto' %}" class="btn btn-success">Agregar Producto</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Lista de productos</h5>
                    <p class="card-text">Revisar la lista completa de productos.</p>
                    <a href="{% url 'admin_lista_productos' %}" class="btn btn-secondary">Ver Productos</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Lista de usuarios</h5>
                    <p class="card-text">Revisar la lista completa de usuarios.</p>
                    <a href="{% url 'admin_lista_usuarios' %}" class="btn btn-danger">Ver Usuarios</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Generar un reporte de ventas</h5>
                    <p class="card-text">Genera un reporte de las ventas en distintos formatos.</p>
                    <a href="{% url 'generar_reporte_excel' %}" class="btn btn-success">Excel</a>
                    <a href="{% url 'generar_reporte_pdf' %}" class="btn btn-danger">PDF</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title">Salir del panel</h5>
                    <p class="card-text">Regresar al modo de usuario.</p>
                    <a href="{% url 'inicio_page' %}" class="btn btn-warning">Ir al Panel</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
